@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";

$mainRed: #D90D43;
$darkRed: #8F0C25;
$blue: #28AAFD;
$grey: #DEDEDE;
$green: #51AE5F;


body {
  line-height: 1;
  background: $grey;
}

*{
  box-sizing: border-box;
}


.pokedex{
  display: block;
  max-width: 500px;
  width: 100%;
  height: 500px;
  background: $mainRed;
  margin: 50px auto;
  padding: 5px 0;
  overflow: hidden;
  border-radius: 5px;
  position: relative;

  h1 {
    display: block;
    text-align: center;
    margin: 25px 0 50px;
    font-weight: 700;
    font-size: 3rem;
  }
  h3 {
    display: block;
    text-align: center;
    margin: 25px 0 50px;
    font-weight: 500;
    font-size: 1.5rem;
  }

  form {
    text-align: center;
  }
  input[type="text"] {
    font-size: 2rem;
    margin: 20px auto;
    display: block;
    text-align: center;
    border-radius: 5px;
    border: 1px solid $grey;
  }
  .btn {
    display: inline-block;
    padding: 20px;
    background: $blue;
    border-radius: 5px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  .loading-ctn {
    background: #fff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    display: none;
      &.active { 
        display: flex;
      }
  }
}

.poke-img {
  width: 150px;
  height:  150px;
  border: 5px solid $grey;
  display: block;
  margin: 0 auto;
  background: #fff;
  border-radius: 5px;

  img {
    width: 100%;
  }
}



.poke-list-btn {
  height: 50px;
  width: 145px;
  margin: -251px 10px;
  position: absolute;
  border-radius: 5px;
  background: $green;
  border: none;
  display: inline-block;
  font-size: 1.1rem;
    &:hover{
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.51);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.51);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.51);
    border: 1px solid $blue;
    }
}


// Pop out Div/background
.popup-btn {
  position: relative;
}
.popup-ctn {
  text-align: center;
  background: $grey;
  height: 200px;
  width: 50%;
  position: absolute;
  top: -182px;
  left: 120px;
  display: none;
  overflow: auto;
  list-style: none;
  border-radius: 5px;
  text-transform: uppercase;
  &.popup-ctn a {
    text-decoration: none;
    line-height: 1.5;
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
   }
  
    &.active2 {
      display: block;
    }
}
// Do hover effect


// Do slide out menu with poke list

